.reset {
  display: flex;
  width: 120px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #14b166;
  color: aliceblue;
  margin-top: 80px;
  margin-left: 340px;
}
